<table class="statistics">
    <tr>
        <td>Statistics</td>
        <td>Total</td> 
        <td>Passed</td> 
        <td>Failed</td> 
    </tr>
    <tr>
        <td>Files</td>
        <td><%= statistics.files_total %></td>
        <td><%= statistics.files_passed %></td>
        <td><%= statistics.files_failed %></td>
    </tr>
    <tr>
        <td>Features</td>
        <td><%= statistics.features_total %></td>
        <td><%= statistics.features_passed %></td>
        <td><%= statistics.features_failed %></td>
    </tr>
    <tr>
        <td>Steps</td>
        <td><%= statistics.steps_total %></td>
        <td><%= statistics.steps_passed %></td>
        <td><%= statistics.steps_failed %></td>
    </tr>
    <tr>
        <td>Time</td>
        <td><%= totalTime %></td>
    </tr>
</table>