<table cellpadding="2" cellspacing="0" border="1" style="text-align:left;width:100%;">
    <thead>
        <tr>
            <th class="w20px"></th>
            <th class="w20px"></th>
            <th class="w20px"></th>
            <th class="w20px"></th>
            <th colspan="3" class="assert">Assert type</th>
            <th colspan="4">Matcher</th>
            <th colspan="4">Expected</th>
            <th colspan="4">Actual</th>
            <th colspan="5" class="message">Message</th>
            <th colspan="2">Passed</th>
        </tr>
    </thead>
    <tbody>
        <%= table_contents %>
    </tbody>
</table>